#footer {
    margin-top: 20px;
}

.body, html {
    height:100%;
    margin:0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666666;
}

.pimg1, .pimg2, .pimg3 {
    position:relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url('./images/coverImage2.jpg');
    min-height: 600px;
}

.pimg2 {
    background-image: url('./images/architecture-buildings-business-290595.jpg');
    min-height: 400px;
}

.pimg3 {
    background-image: url('./images/clouds-fog-forest-9754.jpg');
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666666;
}

.section-dark {
    background-color: #282e34;
    color: #dddddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 25px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: white;
    padding: 20px;
}


/* Form Data  */
* {
    box-sizing: border-box;
}

#contact-container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1m;
}

.company-info ul {
    list-style: none;
    padding: 0;
}


.wrapper > * {
    padding: 1em;
}

.company-info h3, .company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
}


.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
}

.contact form .full {
    grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;
}

.contact form button {
    background: #c9e6ff; 
    border: 0;
    text-transform: uppercase;
}

.contact form button:hover, .contact form button:focus {
    background: #92bde7; 
    color: #fff;
    outline: 0;
    transition: background-color 2s ease-out;
}

#review-card {
    margin: 10px;
}